* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(248, 228, 116);
}
img {
    width: 300px;
    height: 200px;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-button {
    border: 2px solid black;
    border-radius: 15px;
    height: 200px;
    width: 300px;
}
.link {
    text-decoration: none;
    color: black;
    font-family: 'Comic Sans MS';
    font-size: 50px;
}

